# Include only necessary files in distribution
/config export-ignore
/tests export-ignore
/.github export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/.editorconfig export-ignore
/README.md export-ignore
/CHANGELOG.md export-ignore
/CONTRIBUTING.md export-ignore
/phpunit.xml export-ignore
/docker-compose.yml export-ignore
/docker/ export-ignore